---
layout: default
title: Beverly Chou - ITP
---

<div class="home">
  <div class="post-list">

    {% for post in site.posts limit:8%}

    <article class="post_card post">
      <header class="post_header">
        <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/{{category|slugify}}/">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <time class="post_date">{{ post.date | date: "%d %B %Y" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.content contains site.excerpt_separator %}
            {{ post.excerpt }}
            <a href="{{ post.url }}">Read more...</a>
          {% else %}
            {{ post.content }}
          {% endif %}

          <!-- <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a> -->

        </p>
      </div>
      <footer class="post_meta">


        {% if post.location %}
        <span class="author-location">
          <div data-icon="ei-location"></div>
          <a href="https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
        </span>
        {% endif %}
        <!--
        {% for category in post.categories %}
        <a href="{{"/category/" | append: category | prepend: site.baseurl }}">
          <data data-icon="ei-archive"></data>
          {{category}}</a>
        {% endfor %}
        -->

        <!--
        {% if post.author %}
        <span class="author_meta">
          <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
          <span>David Lin</span>
        </span>
        {% endif %}
        -->

        <!--p class="readmore">
          <a href=""><data data-icon="ei-arrow-right"></data>Read this article  </a>
        </p-->
      </footer>
      <hr/>
    </article>
    {% endfor %}

    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive  </a></div>
  </div>
</div>
