---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <h1 class="article_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    <div class="post-tags">Tags:
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
      <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>

      <!-- {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} -->

  </header>
  <hr style="margin: 16px 0 18px 0;">
  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <!-- <footer class="article-footer">

  {% include share.html %}

  <hr/>

  {% include author.html %}

  </footer> -->

  {% include dq.html %}

</article>
